<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who's Who</title>

    <link rel="stylesheet" href="style.css">

    <!-- JS -->
    <!-- load Angular, Firebase, Firebase Angular Library, and custom app.js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="WhosWho" >
 <div class="panel" ng-controller="AppController">
<header ng-click="showBody = !showBody">
<h2>Who's Who <span class="close" ng-show="showBody">x</span><span class="close" ng-show="!showBody">^</span></h2>
</header>
<div class="content" ng-show="showBody">
 <form id="whoswhousername" ng-submit="userSubmit()">
    <input type="text" ng-model="user" placeholder="Who the feck are you?" ng-blur="userSubmit()"/>
    <input type="submit" id="submit" value="OK" />
 </form>
 <ul class="loginList">

 <li ng-repeat="login in logins" ng-click="updateData(login.name)" ng-class="{ 'active': login.availability.available}">
      <span class="id">{{ login.name }}</span>
        <span class="status" ng-if="login.availability.available">Available</span>
        <span class="status" ng-if="!login.availability.available">{{ login.availability.lastUser }}</span>
      </li>


    </ul>

    </div>
 </div>
</div>


</body>
</html>